:root {
    --branding-color: #6C63FF;
    --background-color: white;
    --heading-font-family: 'Raleway', sans-serif;
    --body-font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color);
}

.hero {
    background: var(--branding-color);
    text-align: center;
    margin-top: 47px;
}

.hero h1 {
    color: var(--background-color);
    line-height: 98.21px;
    padding-top: 47px;
}

.hero h2 {
    color: var(--background-color);
    font-size: 24px;
    line-height: 35px;
    padding-bottom: 47px;
}

h1 {
font-family: var(--heading-font-family);
    font-weight: 700;
    font-size: 72px;
}

h2 {
    font-family: var(--heading-font-family);
}

p {
    font-family: var(--body-font-family);
    font-weight: 400;
}

.container {
    margin: 100px; 
}

.container h2 {
    font-size: 28px;
    line-height: 38px;
}

img {
    max-width: 560px;
    border-radius: 12px;
}

@media (max-width: 500px) {

    .container h2 {
        font-size: 20px;
        text-align: center;
    }

    img {
        min-width: 100%;
    }
}
